/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(43, 43, 43); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightcoral; 
  }
.main{
    display: flex;
    .main-content{
        position: relative;
        width: 100%;
    }
}